<li class="menuBar-MainMenu-Item"><a class="menuBar-MainMenu-Link touch" href="https://ita-docs.exastro.org/ja/2.4/installation/"><i class="fas fa-download"></i><span>Install</span></a></li>
<li class="menuBar-MainMenu-Item"><a class="menuBar-MainMenu-Link touch" href="https://ita-docs.exastro.org/ja/2.4/manuals/"><i class="fas fa-file-alt"></i><span>Manual</span></a></li>
<li class="menuBar-MainMenu-Item"><a class="menuBar-MainMenu-Link touch" href="https://ita-docs.exastro.org/ja/2.4/learn/quickstart/"><i class="fas fa-jet-fighter"></i><span>Quickstart</span></a></li>
<li class="menuBar-MainMenu-Item"><a class="menuBar-MainMenu-Link touch" href="https://ita-docs.exastro.org/ja/2.4/learn/"><i class="fas fa-school"></i><span>Learn</span></a></li>
<li class="menuBar-MainMenu-Item"><a class="menuBar-MainMenu-Link touch" href="{{ itaDocsUrl }}"><i class="fas fa-file-alt"></i><span>Documents</span></a></li>
<li class="menuBar-MainMenu-Item"><a class="menuBar-MainMenu-Link touch" href="https://ita-docs.exastro.org/ja/2.4/templates/"><i class="fas fa-cog"></i><span>Templates</span></a></li>
<li class="menuBar-MainMenu-Item"><a class="menuBar-MainMenu-Link touch" href="https://www.exastro.org/index.html#handout"><i class="fas fa-toolbox"></i><span>Hand out</span></a></li>
<!--
<li class="menuBar-MainMenu-Item"><a class="menuBar-MainMenu-Link touch" href="{{ itaDocsUrl }}"><i class="fas fa-file-alt"></i><span>Documents</span></a></li>
-->
<!--<li class="menuBar-MainMenu-Item"><a class="menuBar-MainMenu-Link touch" href="#"><i class="fas fa-video"></i><span>Webinar</span></a></li>
<li class="menuBar-MainMenu-Item"><a class="menuBar-MainMenu-Link touch" href="#"><i class="fas fa-cog"></i><span>Setting Samples</span></a></li>
<li class="menuBar-MainMenu-Item"><a class="menuBar-MainMenu-Link touch" href="#"><i class="fas fa-question-circle"></i><span>FAQ</span></a></li>-->